# ==========================================
# Visual Studio
# ==========================================

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.vcxproj.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options directory
.vs/

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Build outputs
*.exe
*.dll
*.pdb
*.ilk
*.lib
*.exp
*.obj
*.iobj
*.ipdb
*.idb
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# ==========================================
# VS Code
# ==========================================

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# ==========================================
# Application specific
# ==========================================

# ==========================================
# Windows
# ==========================================

# Windows thumbnail cache
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin
$RECYCLE.BIN/

# ==========================================
# C/C++ specific
# ==========================================

# Compiled Object files
*.slo
*.lo
*.o
*.ko
*.elf

# Precompiled Headers
*.gch

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

